* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  margin-top: 2.5cm;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

div {
  display: inline-block;
}

.midMenu {
  height: 16cm;
  width: 10cm;
}


.firstPage {
  position: absolute;
  height: 16cm;
  width: 10cm;
}

.imgMainPage , .imgpage {
  position: absolute;
  width: 10cm;
  height: 16cm;
}

.sideMenu {
  margin: 0.25cm 0;
  width: 5.25cm;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25cm;
}

.box {
  width: 5cm;
  height: 5cm;
  border-radius: 5%;
  border: black solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  font-family: 'Marhey', cursive;
  cursor: pointer;
}


.firstCube {
  position: absolute;
width: 5cm;
height: 5cm;
z-index: 20;
}

.coffee {
  background-color: #967259;
}
.iceCoffee {
  background-color: #968273;
}
.tea {
  background-color: #508141;
}
.milkShake {
  background-color: #a5d8d5;
}
.coldDrinks {
  background-color: #ffa8cb;
}
.food {
  background-color: #ffea94;
}

.displayNone {
  display: none;
}

@media only screen and (max-width: 800px) {
  .body {
    margin-top: .5cm;
    width: 100vw;
    display: grid;
    justify-items: center;
  }
  .sideMenu {
    width: auto;
    flex-direction: row;
  }
  .box {
    width: 3.5cm;
    height: 3.5cm;
    font-size: 1.5rem;
  }
  .box img {
    height: 50px;
  }
  .firstCube {
  width: 3.5cm;
  height: 3.5cm;
  }
}

@media only screen and (max-width: 420px) {

  .box {
    width: 2.5cm;
    height: 2.5cm;
    font-size: 1.2rem;
  }
  .box img {
    height: 25px;
  }
  .firstCube {
  width: 2.5cm;
  height: 2.5cm;
  }
  .midMenu {
    height: 11.2cm;
    width: 7cm;
  }
  .firstPage, .imgMainPage , .imgpage {
    width: 7cm;
    height: 11.2cm;
  }
}
